## MAC OS
.DS_Store

## TEXTMATE
*.tmproj
tmtags

## EMACS
*~
\#*
.\#*

## VIM
*.sw[^f]

## PROJECT::GENERAL
coverage
rdoc
pkg

## PROJECT::SPECIFIC
doc
.yardoc
.bundle
Gemfile.lock
**/bin
*.rbc
.rvmrc
.SyncID
.SyncIgnore
